* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  margin: 0;
}
#root {
  background-image: url("https://images.unsplash.com/photo-1515767703468-b3ff6f3d4c99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.search-bar {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  justify-content: center;
  background-color: rgba(255, 246, 246, 0.5);
}
.search-input {
  padding: 0.5rem 2rem;
  height: 3rem;
  width: 60%;
  border-radius: 2rem;
  font-size: 1rem;
  border: 0;
  outline: none;
  background-color: rgb(43, 42, 42);
  color: antiquewhite;
}
.search-icon {
  position: relative;
  border-radius: 50%;
  right: 3rem;
  font-size: 2.8rem;
  color: rgb(201, 23, 16);
}
.top-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 70vmin;
}
.current-report {
  text-align: center;
  width: 30%;
  max-height: fit-content;
  min-height: 100%;
  flex: 1 1 400px;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.7);
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
.map-container {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100%;
  color: aliceblue;
  position: relative;
  flex: 1 0 50vw;
  font-size: medium;
  margin: 0 15px;
  /* border-radius: 10px; */
}
.current-report * {
  margin: 1.5% 0;
}
.map {
  height: 100%;
  width: 100%;
  /* border-radius: 10px; */
}
#temp {
  font-size: xxx-large;
}
.map-marker {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
  color: rgb(204, 0, 0);
}
.map-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  padding: 0.3rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}
.get-location-report-btn {
  background-color: rgb(204, 153, 85);
  outline: none;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  border: 0;
  /* border-radius: 20px; */
  font-size: 1rem;
  width: 100%;
  margin: 0rem auto;
  display: block;
}
.get-location-report-btn:hover {
  cursor: pointer;
}
.resDetail h2 {
  margin: 1rem auto;
  height: max-content;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 60%;
  }
  .search-input {
    width: 90%;
    margin: 0 auto;
  }
}
